<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>SBGNViz.js</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <!--cytoscape.js plugins -->
        <link href="node_modules/cytoscape-panzoom/cytoscape.js-panzoom.css" rel="stylesheet" type="text/css" />
        <link href="node_modules/cytoscape-panzoom/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="node_modules/qtip2/dist/jquery.qtip.css" rel="stylesheet" type="text/css" />
        <link href="node_modules/cytoscape-context-menus/cytoscape-context-menus.css" rel="stylesheet" type="text/css" />
        <!-- app's style -->
        <link href="app/css/sbgnviz.css" rel="stylesheet">

        <script src="app/bundle.js"></script>
        <!-- libraries -->
        <script src="node_modules/qtip2/dist/jquery.qtip.js"></script>
    </head>

    <body>
        <div class="nav-menu sbgn-nav-menu">
            <nav class="navbar navbar-default sbgn-nav-bar" role="navigation">
                <div>
                    <span class="sbgn-label">SBGN<i>Viz</i>.js</span>
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                File 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <input id="file-input" type="file" style="display:none" />
                                <li><a href="#" type="file" id="new-file">New</a></li>
                                <li><a href="#" type="file" id="load-file">Load...</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Samples
                                        <!--<b class="right-caret"></b>-->
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" id="load-sample1">Neuronal muscle signaling</a></li>
                                        <li><a href="#" id="load-sample2">CaM-CaMK dependent signaling to the nucleus</a></li>
                                        <li><a href="#" id="load-sample3">Activated STAT1alpha induction of the IRF1 gene</a></li>
                                        <li><a href="#" id="load-sample4">Glycolysis</a></li>
                                        <li><a href="#" id="load-sample5">MAPK cascade</a></li>
                                        <li><a href="#" id="load-sample6">PolyQ proteins interference</a></li>
                                        <li><a href="#" id="load-sample7">Insulin-like Growth Factor (IGF) signalling</a></li>
                                        <li><a href="#" id="load-sample8">ATM mediated phosphorylation of repair proteins</a></li>
                                        <li><a href="#" id="load-sample9">Vitamins B6 activation to pyridoxal phosphate</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" id="save-as-sbgnml">Save...</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Save as Image 
                                        <!--<b class="right-caret"></b>-->
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" id="save-as-png">PNG</a></li>
                                        <li><a href="#" id="save-as-jpg">JPG</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" id="general-properties">Properties...</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Edit 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="delete-selected-simple">Delete Selected Simple</a></li>
                                <li><a href="#" id="delete-selected-smart">Delete Selected Smart</a></li>

                                <li class="divider"></li>
                                <li class="disabled"><a href="#" id="undo-last-action" >Undo</a></li>
                                <li class="disabled"><a href="#" id="redo-last-action" >Redo</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                View 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Hide/Show
                                        <!--<b class="right-caret"></b>-->
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" id="hide-selected">Hide Selected</a></li>
                                        <li><a href="#" id="show-selected">Show Selected</a></li>
                                        <li><a href="#" id="show-all">Show All</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Collapse/Expand
                                        <!--<b class="right-caret"></b>-->
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" id="collapse-selected">Collapse Selected</a></li>
                                        <li><a href="#" id="expand-selected">Expand Selected</a></li>
                                        <li><a href="#" id="collapse-complexes">Collapse Complexes</a></li>
                                        <li><a href="#" id="expand-complexes">Expand Complexes</a></li>
                                        <li><a href="#" id="collapse-all">Collapse All</a></li>
                                        <li><a href="#" id="expand-all">Expand All</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Highlight 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="highlight-search-menu-item">Search ...</a></li>
                                <li><a href="#" id="highlight-neighbors-of-selected">Neighbors of Selected</a></li>
                                <li><a href="#" id="highlight-processes-of-selected">Processes of Selected</a></li>
                                <li><a href="#" id="remove-highlights">Remove Highlights</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Layout 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="perform-layout">Perform Layout</a></li>
                                <li><a href="#" id="layout-properties">Layout Properties...</a></li>
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Query 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="#" id="query-pathwaycommons" class="dropdown-toggle" data-toggle="dropdown">
                                        Pathway Commons
                                        <!--<b class="right-caret"></b>-->
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" id="query-pathsbetween">Paths Between...</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Legends 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="node-legend">Node Legend</a></li>
                                <li><a href="#" id="edge-legend">Interaction Legend</a></li>
                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Help 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="quick-help">Quick Help</a></li>
                                <li><a href="#" id="about">About</a></li>
                            </ul>
                        </li>
                    </ul>
                    <span class="input-file" id="file-name"></span>
                </div>
            </nav>
        </div>

        <div id="sbgn-toolbar" style="margin-top: 10px;">
            <table width="100%" height="100%" align="center" valign="center">
                <tr>
                <div class="inside-menu">
                <img id="new-file-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/new.png" title="New: Create a blank SBGN-PD map">
                <img id="load-file-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/load.png" title="Load: Load an SBGN-PD map from SBGN-ML file">
                <img id="save-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/save.png" title="Save: Save current SBGN-PD map to an SBGN-ML file">
                <img id="properties-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/properties.png" title="Properties: Modify general properties of current SBGN-PD map" >
                </div>
                
                <div class="menu-break-large sbgn-toolbar-element">&nbsp</div>
                <div class="inside-menu">
                
                <img id="delete-selected-simple-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/deletesimple.png" title="Delete Selected Simple: Delete selected nodes and interactions" >
                <img id="delete-selected-smart-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/deletesmart.png" title="Delete Selected Smart: Delete selected nodes and any processes they are involved in" >

                <div class="menu-break-small sbgn-toolbar-element">&nbsp</div>
                <img id="undo-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/undo.png" title="Undo: Undo the last operation" >
                <img id="redo-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/redo.png" title="Redo: Redo the last undone operation" >

                </div>
                
                <div class="menu-break-large sbgn-toolbar-element">&nbsp</div>
                <div class="inside-menu">
                <img id="hide-selected-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/hideselected.png" title="Hide Selected: Hide selected nodes and any processes they are involved in" >
                <img id="show-selected-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/showselected.png" title="Show Selected: Show selected nodes and any processes they are involved in, hiding the remaining nodes and their interactions" >

                <div class="menu-break-small sbgn-toolbar-element">&nbsp</div>
                <img id="collapse-selected-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/collapseselected.png" title="Collapse Selected: Collapse selected compound node to hide its members" >
                <img id="expand-selected-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/expandselected.png" title="Expand Selected: Expand selected collapsed node to show its members" >
                    
                </div>
                
                <div class="menu-break-large sbgn-toolbar-element">&nbsp</div>
                <div class="inside-menu">
                <img id="search-by-label-icon" class="sbgn-toolbar-element" src="app/img/search.png" title="Search: Search and find (case insensitive) all nodes with specified label text, selecting them and highlighting them along with their processes" >
                <input id="search-by-label-text-box" class="sbgn-toolbar-element" type="label">
                <img id="highlight-neighbors-of-selected-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/highlightneighborsofselected.png" title="Highlight Neighbors of Selected: Highlight selected nodes and their neighbors by ghosting remaining nodes" >
                <img id="remove-highlights-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/removehighlights.png" title="Remove Highlights: Remove any highlights" >
                </div>
                
                <div class="menu-break-large sbgn-toolbar-element">&nbsp</div>
                <div class="inside-menu">
                <img id="perform-layout-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/layout-cose.png" title="Perform Layout: Perform a force-directed layout of current map, maintaining compound structures" >
                <img id="layout-properties-icon" class="sbgn-toolbar-element" src="app/img/toolbar-icons/layoutproperties.png" title="Layout Properties: Modify parameters used during layout" >
                </div>
                </tr>
                
            </table>
        </div>
    
        <div id="sbgn-network-container">
        </div>
    
        <div id="layout-properties-table" tabindex="-1" class="modal fade" role="dialog">
            <!-- sbgn layout table will be shown here -->
        </div>

        <div id="general-properties-table" tabindex="-1" class="modal fade" role="dialog">
            <!-- sbgn properties table will be shown here-->
        </div>

        <div id="biogene-container" style="display: none">
        </div>
        
        <div id="query-pathsbetween-table" tabindex="-1" class="modal fade" role="dialog">
            <!-- paths between query table will be shown here-->
        </div>
        
        <div id="prompt-save-table" tabindex="-1" class="modal fade" role="dialog">
            <!-- sbgn properties table will be shown here-->
        </div>

        <div id="box">
        </div>
      

        <!-- templates -->
        <div id='node_legend_modal' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog sbgn-modal-dialog" style="width: 504px; height: 325px;">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="sbgn-frame">
                        <h2 class="sbgn-text">Node Legend</h2>
                        <img src="app/img/node_legend_sbgn.png" alt="" class="centered img-responsive sbgn-legend">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id='edge_legend_modal' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog sbgn-modal-dialog" style="width: 325px; height: 285px;">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="sbgn-frame">
                        <h2 class="sbgn-text">Interaction Legend</h2>
                        <img src="app/img/interaction_legend_sbgn.png" alt="" class="centered img-responsive sbgn-legend">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id='about_modal' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm sbgn-modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="sbgn-frame">
                        <h2 class="sbgn-text">About</h2>

                        <table width="100%" height="100%" align="center" valign="center">
                        <tr><td>
                        <img src="app/img/i-vis.png" alt="" class="centered img-responsive">
                        </td></tr>

                        <tr><td>
                        <img src="app/img/cbio.png" alt="" class="centered img-responsive">
                        </td></tr>

                        <tr><td>
                        <p class="sbgn-text">SBGN<i>Viz</i>.js version 3</p>
                        </td></tr>

                        <tr><td>
                        <p class="address-text marg">i-Vis information Visualization Group</p>
                        <p class="address-text">Bilkent University, Ankara, Turkey</p>
                        </td></tr>

                        <tr><td>
                        <p class="address-text marg">Memorial Sloan-Kettering Cancer Center</p>
                        <p class="address-text">New York, USA</p>
                        </td></tr>

                        <tr><td>
                        <p class="address-text marg">
                        <a href="mailto:ivis@cs.bilkent.edu.tr" target="_top">ivis@cs.bilkent.edu.tr</a>
                        </p>
                        <p class="address-text">
                        <a href="https://github.com/iVis-at-Bilkent/sbgnviz-js" target="_blank">https://github.com/iVis-at-Bilkent/sbgnviz-js</a>
                        </p>
                        </td></tr>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <div id='quick_help_modal' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog sbgn-modal-dialog" style="width: 420px">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="sbgn-frame quick-help">
                        <h2 class="sbgn-text">Quick Help</h2>
                        <div class="quick-help-content">
                        <table align="center" valign="center">
                        <tr>
                        <td><b>File | Samples | &lt;sample file&gt;</b>:
                        Load a sample model from file in SBGN-ML</td>
                        </tr>
                        <tr>
                        <td><b>File | Load</b>:
                        Load a model from file in SBGN-ML</td>
                        </tr>
                        <tr>
                        <td><b>Left-click</b>:
                        Full label of the node</td>
                        </tr>
                        <tr>
                        <td><b>Right-click</b>:
                        Context menu for associated object</td>
                        </tr>
                        </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/template" id="loading-small-template">
            <p class="sbgn-text"> <%= name %> </p>
            <img class="centered" src="app/img/loading-small.gif" height="auto" width="auto" align="middle">
        </script>

        <script type="text/template" id="layout-settings-template">
            <div class="modal-dialog modal-sm sbgn-modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Layout Properties</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table-condensed layout-table dialog-table">
                        <tr>
                        <td>
                        <span class="add-on layout-text"> Node Repulsion </span>
                        </td>
                        <td>
                        <input id="node-repulsion" type="text" min="0" class="input-small layout-text float-input" value= <%= nodeRepulsion %> >
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Ideal Edge Length </span>
                        </td>
                        <td>
                        <input id="ideal-edge-length" type="text" min="5" class="input-small layout-text float-input" value= <%= idealEdgeLength %> >
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Edge Elasticity </span>
                        </td>
                        <td>
                        <input id="edge-elasticity" type="text" min="0" class="input-small layout-text float-input" value= <%= edgeElasticity %> >
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Nesting Factor </span>
                        </td>
                        <td>
                        <input id="nesting-factor" type="text" min="0" class="input-small layout-text float-input" value= <%= nestingFactor %> >
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Gravity </span>
                        </td>
                        <td>
                        <input id="gravity" type="text" min="0" class="input-small layout-text float-input" value= <%= gravity %> >
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Gravity Range   </span>
                        </td>
                        <td>
                        <input id="gravity-range" type="text" min="0" class="input-small layout-text float-input" value= <%= gravityRange %> >
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Compound Gravity  </span>
                        </td>
                        <td>
                        <input id="gravity-compound" type="text" min="0" class="input-small layout-text float-input" value= <%= gravityCompound %> >
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Compound Gravity Range </span>
                        </td>
                        <td>
                        <input id="gravity-range-compound" type="text" min="0" class="input-small layout-text float-input" value= <%= gravityRangeCompound %> >
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Number of Iterations </span>
                        </td>
                        <td>
                        <input id="num-iter" type="text" min="0" class="input-small layout-text integer-input" value= <%= numIter %> >
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Tiling Vertical Padding </span>
                        </td>
                        <td>
                        <input id="tiling-padding-vertical" type="text" min="0" class="input-small layout-text integer-input" value= <%= tilingPaddingVertical %> >
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Tiling Horizontal Padding </span>
                        </td>
                        <td>
                        <input id="tiling-padding-horizontal" type="text" min="0" class="input-small layout-text integer-input" value= <%= tilingPaddingHorizontal %> >
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Tile Disconnected </span>
                        </td>

                        <td>
                        <input id="tile" type="checkbox" class="input-small layout-text" <% if (tile){ %> checked<%}%>>
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Animate </span>
                        </td>

                        <td>
                        <input id="animate" type="checkbox" class="input-small layout-text" <% if (animate === 'during'){ %> checked<%}%>>
                        </td>
                        </tr>
                        <tr>
                        <td>
                        <span class="add-on layout-text"> Incremental </span>
                        </td>

                        <td>
                        <input id="incremental" type="checkbox" class="input-small layout-text" <% if (!randomize){ %> checked<%}%>>
                        </td>
                        </tr>
                        </table>
                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <button id="save-layout" class="btn btn-default" >Save</button>
                        <button id="default-layout" class="btn btn-default">Default</button>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="general-properties-template">
            <div class="modal-dialog modal-sm sbgn-modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Properties</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table-condensed layout-table dialog-table">
                        <tr>
                        <td>
                        <span class="add-on layout-text"> Compound Padding </span>
                        </td>

                        <td>
                        <input id="compound-padding" type="text" class="input-small layout-text integer-input" min="0" max="100" value= <%= compoundPadding %> >
                        </td>
                        <td>%</td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Label Size </span>
                        </td>

                        <td>
                        <select id="dynamic-label-size-select" name="dynamic-label-size">
                        <option id="dynamic-label-size_small" value="small" <% if (dynamicLabelSize == 'small'){ %> selected<%}%> > Small </option>
                        <option id="dynamic-label-size_regular" value="regular" <% if (dynamicLabelSize == 'regular'){ %> selected<%}%> > Regular </option>
                        <option id="dynamic-label-size_large" value="large" <% if (dynamicLabelSize == 'large'){ %> selected<%}%> > Large </option>
                        </select>
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Fit Labels To Nodes </span>
                        </td>

                        <td>
                        <input id="fit-labels-to-nodes" type="checkbox" class="input-small layout-text" <% if (fitLabelsToNodes){ %> checked<%}%>>
                        </td>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Rearrange After Expand-Collapse </span>
                        </td>

                        <td>
                        <input id="rearrange-after-expand-collapse" type="checkbox" class="input-small layout-text" <% if (rearrangeAfterExpandCollapse){ %> checked<%}%>>
                        </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="add-on layout-text"> Animate on Drawing Changes </span>
                            </td>

                            <td>
                                <input id="animate-on-drawing-changes" type="checkbox" class="input-small layout-text" <% if (animateOnDrawingChanges){ %> checked<%}%>>
                            </td>
                        </tr>
                        </table>
                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <button id="save-sbgn" class="btn btn-default" >Save</button>
                        <button id="default-sbgn" class="btn btn-default">Default</button>
                    </div>
                </div>
            </div>
        </script>
        
        <script type="text/template" id="query-pathsbetween-template">
            <div class="modal-dialog sbgn-modal-dialog" style="width: 500px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Paths Between Query</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table-condensed layout-table">
                        <tr>
                        <th colspan=2 style="padding-left: 0px;" align="left">
                        <span class="add-on layout-text"> Find all paths of specified length limit between any two entities of the specified set </span>
                        </th>
                        </tr>

                        <tr>
                        <td>
                        <span class="add-on layout-text"> Gene Symbols: </span><br>
                        <textarea id="query-pathsbetween-gene-symbols" rows="4" cols="86" style="width: 206px;"><%= geneSymbols %></textarea>
                        </td>

                        <td>
                        <table frame="box" style="border-color: rgb(204, 204, 204)">
                        <caption style="text-align: left;">Stop Distance</caption>
                        <tr>
                        <td colspan=2>Length limit</td>
                        <td style="padding: 10px;"><input id="query-pathsbetween-length-limit" type="text" min="1" class="input-small layout-text integer-input" style="width: 90px;" value= <%= lengthLimit %> > </td>
                        </tr>
                        </table>
                        </td>
                
                        </tr>
                        </table>
                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <button id="save-query-pathsbetween" class="btn btn-default" >OK</button>
                        <button id="cancel-query-pathsbetween" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </script>
        
        <script type="text/template" id="prompt-save-template">
            <div class="modal-dialog sbgn-modal-dialog" style="width: 500px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Save</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table-condensed layout-table dialog-table">
                        <tr>
                        <th style="padding-left: 0px;" align="left">
                        <span class="add-on layout-text"> Do you want to save any change(s) to the map? </span>
                        </th>
                        </tr>

                        <tr id="prompt-save-buttons" style="padding-bottom: 0px; margin-bottom: 0px;">
                        <td>
                        </td>
                        </tr>
                        </table>
                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <button id="prompt-save-accept" class="btn btn-default" >Save</button>
                        <button id="prompt-save-reject" class="btn btn-default">Don't Save</button>
                        <button id="prompt-save-cancel" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </script>

        <!-- BioGeneView template for backbone.js -->
        <script type="text/template" id="biogene-template">
            <div class='node-details-text'>
            <table class="table table-condensed table-striped" cellspacing="10">
            <tr class="biogene-info biogene-description node-details-summary">
            <th valign="top">Gene Summary:</th>
            <td colspan="2" class="expandable">
            <%=geneSummary %>
            </td>
            </tr>
            <tr class="biogene-info biogene-aliases">
            <th valign="top">Aliases:</th>
            <td>
            <%=geneAliases %>
            </td>
            </tr>
            <tr class="biogene-info biogene-description">
            <th>Description:</th>
            <td class="expandable">
            <%=geneDescription %>
            </td>
            </tr>
            <tr class="biogene-info biogene-location">
            <th valign="top">Chromosome Location:</th>
            <td>
            <%=geneLocation %>
            </td>
            </tr>
            <tr class="biogene-info biogene-uniprot-links">
            <th valign="top">UniProt ID:</th>
            <td>
            <a href='http://www.uniprot.org/uniprot/<%= geneUniprotId %>' target='blank'>
            <%=geneUniprotId %>
            </a>
            <span class='biogene-uniprot-links-extra'>
            <%= geneUniprotLinks %>
            </span>
            </td>
            </tr>
            <tr class="biogene-info biogene-id">
            <th valign="top">Gene ID:</th>
            <td>
            <a href='http://www.ncbi.nlm.nih.gov/gene?term=<%= geneId %>' target='blank'>
            <%=geneId %>
            </a>
            </td>
            </tr>
            </table>
            </div>
        </script>

        <script type="text/template" id="uniprot-link-template">
            <a href="http://www.uniprot.org/uniprot/<%= id %>" target="_blank">
            <%=id %>
            </a>
        </script>
    </body>
</html>